/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  /* Colores personalizados */
  --color-color: #00776f;
  --color-color2: #049AE7;
  --color-colorIcon: #202938;
  
  /* Breakpoints personalizados */
  --breakpoint-tabletMx: 1140px;
  
  /* Fuentes personalizadas */
  --font-family-roboto: 'Roboto', sans-serif;
}

@layer base {
  body {
    @apply text-gray-900 bg-white;
    font-family: 'Roboto', sans-serif;
  }

  body.dark {
    @apply text-gray-200 bg-gray-800;
  }

  /* Estilos para elementos de tabla */
  th {
    @apply py-2;
  }
  
  tbody tr {
    @apply border-y hover:bg-blue-100 dark:hover:bg-gray-600;
  }
  
  tbody td {
    @apply p-2;
  }
}
/* <-- STYLE COMPENENTES TABLE --> -*/

/* @layer components {
    .container-tabla{
        @apply max-w-[1120px];
    }
    @media (max-width: 1120px) {
        .container-tabla{
            & .table{
                @apply w-[1120px]
            }
        }
    }
} */

/* Estilos personalizados para react-big-calendar */
.rbc-calendar {
  @apply dark:bg-gray-700;
}

/* ? barra botones calendario */
.rbc-toolbar button {
  @apply dark:bg-gray-600 dark:text-white dark:border-gray-500;
}

/* ? hover botones barra */
.rbc-toolbar button:hover {
  @apply dark:bg-gray-500 dark:text-gray-300 dark:border-none;
}

.rbc-toolbar button.rbc-active {
  @apply dark:bg-gray-400 dark:border-gray-500 dark:text-white;
}

/* header days*/
.rbc-header {
  @apply dark:text-white dark:border-gray-600;
}
/* ? dias fuera del rango dias del mes*/
.rbc-off-range-bg {
  @apply dark:bg-gray-600;
}

.rbc-today {
  @apply dark:bg-gray-500 dark:text-white;
}

.rbc-event {
  @apply dark:border-gray-600;
}

.rbc-day-bg + .rbc-day-bg,
.rbc-month-row {
  @apply dark:border-gray-600;
}

.rbc-month-view {
  @apply dark:border-gray-600;
}

.rbc-date-cell {
  @apply dark:text-white;
}

.rbc-agenda-view table.rbc-agenda-table {
  @apply dark:border-gray-600 dark:text-white;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  @apply dark:border-gray-600;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  @apply dark:border-gray-600 dark:bg-gray-800;
}
wa
/* ? mensaje agenda vacia*/
.rbc-agenda-empty {
  @apply dark:text-white text-center;
}

.rbc-toolbar-label {
  @apply dark:text-white;
}

.rbc-event :hover {
  @apply ease-in duration-200 text-black rounded-md;
}

.rbc-show-more {
  @apply dark:bg-gray-600 dark:text-white;
}

.rbc-show-more:hover {
  @apply dark:bg-gray-500 dark:text-white;
}
.rbc-button-link {
  @apply dark:text-white;
}